body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/free-photo/blue-wall-background_53876-88663.jpg?w=740&t=st=1701675231~exp=1701675831~hmac=dd7e534aa48ffc66280508e62467ccbc3a5ab67ef9ff4b3668d0485d7f79a2d5');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ques{
  height: 500px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow:0 5px 10px rgb(166, 166, 166) ;
}
.opt{
 padding: 2rem;
 border-top:1px solid white ;
}
.opt ul{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  list-style: none;
}
.opt ul li{
  padding: 1rem;
  background-color: rgb(219, 219, 219);
  color: #000;
  cursor: pointer;
}
.opt ul li:hover{
  box-shadow: 3px 5px 2px #888888;
}
.score{
  height: 500px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
